@import "styles/globals/mixins";

.container {
  padding-bottom: 8rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 9rem;
  text-align: left;

  @include medium-up {
    padding-bottom: 9rem;
    padding-top: 10rem;
  }

  h1 {
    font-size: $font-size-h1;
    margin-bottom: 1rem;
  }

  p {
    font-weight: $font-weight-normal;
    font-size: $font-size-h4;
  }
}

.wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
}

.loading {
  @include loading;
}
