@import "styles/globals/mixins.scss";

.container {
  padding: 10rem 1rem;
  text-align: left;
}

.wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 50rem;

  @include medium-up {
    box-shadow: 0 0 0.5rem $gray-300;
  }
}

.row {
  background-color: white;
  padding: 1.5rem;

  @include medium-down {
    box-shadow: 0 0 0.5rem $gray-300;
  }

  + .row {
    @include medium-up {
      border-top: 1px dashed $gray-300;
    }
    @include medium-down {
      margin-top: 1rem;
    }
  }
}

.double_row {
  composes: row;
  display: grid;
  gap: 1rem;

  @include medium-up {
    grid-template-columns: 2fr 1fr;
  }
}

.triple_row {
  composes: row;
  display: grid;
  gap: 1rem;

  @include medium-up {
    grid-template-columns: 1fr 1fr 1fr;
    
    .title_row {
      grid-column: 1 / 4;
    }
  }
}

.title_row {
  margin-bottom: 1rem;
}

.tag_row {
  composes: row;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li + li {
    margin-top: 0.25rem;
  }
}

.name {
  @include medium-down {
    font-size: $h3-font-size;
  }
}
