@import "styles/globals/mixins.scss";

.title {
  background: $teal--dark;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  color: white;
}

.button {
  @include invisible-button;
}
