@import "styles/globals/mixins.scss";

.badge {
  margin-bottom: 0.5rem;
}

.date {
  margin-top: 0.5rem;
  color: $gray-700;
}

.copy {
  margin-top: 0.5rem;
  color: $gray-700;
  font-size: 1rem;
}
